version: 2.1

orbs:
  aws-eks: circleci/aws-eks@1.0.0
  kubernetes: circleci/kubernetes@0.11.2

jobs:

  # Install dependencies using yarn
  deps:
    docker:
      - image: circleci/node:12.16.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "yarn.lock" }}
      - run:
          name: Install yarn
          command: |
            npm install yarn --no-package-lock
      - run:
          name: Install dependencies using yarn
          command: |
            yarn install --immutable
      - save_cache:
          paths: [node_modules]
          key: deps-{{ checksum "yarn.lock" }}

  # Check code quality
  check:
    docker:
      - image: circleci/node:12.16.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "yarn.lock" }}
      - run:
          name: Lint code
          command: |
            yarn lint
      - run:
          name: Test code
          command: |
            yarn test

  # Install dependencies using yarn
  build:
    docker:
      - image: circleci/node:12.16.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "yarn.lock" }}
      - run:
          name: Build react app
          command: |
            yarn build
      - run:
          name: Prepare workspace and compress the build
          command: |
            tar -zcvf /tmp/build.tar.gz build
      - persist_to_workspace:
          root: /tmp
          paths:
            - build.tar.gz

  # Dockerize react application
  dockerize:
    machine: true
    steps:
      - checkout
      - attach_workspace:
          at: /tmp
      - run:
          name: Login to the registry
          command: |
            echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: Build docker image
          command: |
            tar -xf build /tmp/build.tar.gz
            ls -la
            docker build -t limoli/capstone:$CIRCLE_BRANCH .
      - run:
          name: Deploy docker image
          command: |
            docker push limoli/capstone:$CIRCLE_BRANCH
      - persist_to_workspace:
          root: /tmp
          paths:
            - .docker

  # Deploy to K8S cluster
  deploy:
    executor: aws-eks/python3
    parameters:
      cluster-name:
        description: |
          Name of the EKS cluster
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: /tmp
      - kubernetes/install
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
      - run:
          name: Test cluster
          command: |
            kubectl get services
      - run:
          name: Check presence of docker config
          command: |
            ls -la $HOME
      - run:
          command: |
            kubectl create secret generic regcred \
            --from-file=.dockerconfigjson=/tmp/.docker/config.json \
            --type=kubernetes.io/dockerconfigjson
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          resource-file-path: deploy/prod.yml
          resource-name: deployment/react-app
          show-kubectl-command: true

workflows:
  default:
    jobs:
      - deps
      - check:
          requires: [deps]
      - build:
          requires: [check]
      - dockerize:
          requires: [build]
      - deploy:
          cluster-name: prod
          requires: [dockerize]
